<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>

	{{> base/meta}}
	
	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->
	
	<!-- boilerplate.css -->
	
	{{> base/font}}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->


</head>
<body class='tk-opensans'>

	{{> base/header }}


	<main id='content'>
		<h1 class='tk-didot hed'>Style Guide</h1>
		<p>Welcome to The Pudding style guide. Use this as a reference to structure your HTML and CSS, and follow our best practices.</p>

		<section id='usage'>
			<h2 class='tk-didot'>Usage</h2>
			<p>Everything you need is already included in your new project template. Simply follow these guidelines and use the proper CSS classes outlined and you should be good to go.</p>
		</section>
		
		<section id='typography'>
			<h2 class='tk-didot'>Typography</h2>
			<h3 class='tk-didot'>Fonts</h3>
			<p>
				Fonts are loaded async and use the <a href='https://www.zachleat.com/web/comprehensive-webfonts/#fout-class' target='_blank'>FOUT</a> practice. We have three font families:</p>
			<ul>
				<li><strong>Headlines:</strong> GFS Didot (class name: <em>tk-didot</em>)</li>
				<li><strong>Copy:</strong> Open Sans (class name: <em>tk-opensans</em>)</li>
			</ul>
			<p>
				Simply include the class on the element, and all children will inherit it. Open Sans is included on the body tag by default.
			</p>
			<div class='example'>
<pre><code>&lt;p class='tk-didot'&gt;Test&lt;/p&gt;</code></pre>
			</div>

			<p>Use the <em>font-weight</em> CSS property to set the weight.</p>
			<ul>
				<li><strong>GFS Didot:</strong> 300, 700</li>
				<li><strong>Open Sans:</strong> 400, 700</li>
			</ul>
			<h3 class='tk-didot'>Headings</h3>
			<p>The following are the default sizes of the headings, h1, h2, etc.</p>
			<div class='example tk-didot'>
				<h1>h1 heading example</h1>
				<h2>h2 heading example</h2>
				<h3>h3 heading example</h3>
				<h4>h4 heading example</h4>
				<h5>h5 heading example</h5>
				<h6>h6 heading example</h6>
			</div>
			<h3 class='tk-didot'>Font size classes</h3>
			<p>Use the following convenience classes to size your text. They apply both <em>font-size</em> and <em>line-height</em>, so you may have to tweak depending on your needs.</p>
			<div class='example'>
				<p class='xx-small'>.xx-small</p>
				<p class='x-small'>.x-small</p>
				<p class='small'>.small</p>
				<p class='medium'>.medium (default, 17px)</p>
				<p class='large'>.large</p>
				<p class='x-large'>.x-large</p>
				<p class='xx-large'>.xx-large</p>
				<p class='xxx-large'>.xxx-large</p>
			</div>
		</section>


		<section id='colors'>
			<h2 class='tk-didot'>Colors</h2>
		</section>

		<section id='breakpoints'>
			<h2 class='tk-didot'>Breakpoints</h2>
		</section>

		<section id='tables'>
			<h2 class='tk-didot'>Tables</h2>
		</section>

		<section id='buttons'>
			<h2 class='tk-didot'>Buttons</h2>
		</section>

		<section id='helpers'>
			<h2 class='tk-didot'>Helpers</h2>
		</section>

	</main>
</body>
</html>
