.logos-wrapper
  margin 0
  padding 0
  width 100%
  position relative

p.logo
  padding 10px

.left-logo
  position absolute left 0 top 0 width 50%
.right-logo
  position absolute right 0 top 0 width 50%

