<div class='intro'>
	<h1 class='intro__hed tk-didot'>Fashion is greater than art because we live in it</h1>
  <p class='intro__dek'>Vogue publishes in twelve different markets globally with an international readership 31.1 million monthly unique visitors to its sites.</p>
</div>
